# Get a free key: https://console.cloud.google.com/apis/library/youtube.googleapis.com
# 1. Create/select a project, click "Enable"
# 2. Go to APIs & Services > Credentials > Create Credentials > API key
# 3. Paste it below
VITE_YOUTUBE_API_KEY=your_api_key_here
